{{- $u := urls.Parse .Destination -}}
{{- $img := "" -}}
{{- $src := $u.String -}}

{{- if not $u.IsAbs -}}
  {{- with or (.Page.Resources.Get $u.Path) (resources.Get $u.Path) -}}
    {{- $img = . -}}
    {{- $src = .RelPermalink -}}     # ← .RelPermalink, NOT .
  {{- end -}}
{{- else -}}
  {{ errorf "Absolute URL: %s" .Destination }}
{{- end -}}

<figure {{ with .Attributes.id }}id="{{ . }}"{{ end }} {{ with .Attributes.class }}class="{{ . }}"{{ end }}>
  {{- with .Title -}}
    <figcaption>{{ . | $.Page.RenderString }}
      {{- with $.Attributes.cite }}, <cite>{{ . | $.Page.RenderString }}</cite>{{- end }}
      {{- with $.Attributes.author }}, <span>{{ . }}</span>{{- end }}
    </figcaption>
  {{- end }}
  <img src="{{ $src | safeURL }}"
       alt="{{ with .Text }}{{ . | htmlUnescape }}{{ else }}See the figcaption{{ end }}"
       {{- with $img }} width="{{ .Width }}" height="{{ .Height }}"{{ end }}>
</figure>
